/*不會動的星星*/
.rating .star {
    float: left;
    width: 40px;
    line-height: 20px;
    text-align: center;
    font-size: 40px;
    -webkit-animation: grow .8s cubic-bezier(0,3,.3,0);
    text-shadow: 0 4px 4px rgba(0,0,0,.3);
}
.rating .star:after {
    content: '\2605';
    color: yellow;
}
.rating .star_bl:after {
    content: '\2605';
    color: #AAAAAA;
}


/*會動的星星*/
.ratings {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: rtl;
  text-align: left;
}

.stars {
  position: relative;
  line-height: 60px;
  display: inline-block;
  transition: color 0.2s ease;
  color: #ebebeb;
}

.stars:before {
  content: '\2605';
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.stars:hover,
.stars.selected,
.stars:hover ~ .stars,
.stars.selected ~ .stars{
  transition: color 0.8s ease;
  color: yellow;
}
