
/*-----------------------------------------
    Google Font Rubik
-------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    width: 100%;
    color: #333333;
}
.img{
    max-width: 100%;
}
.img-full img{
    width: 70%;
}
a,
button {
    transition: all 0.3s ease-out 0s;
}
a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover {
    color: #ff6a00;
    text-decoration: none;
}
a,
button,
input {
    outline: medium none;
    color: #333;
}
.uppercase { 
    text-transform: uppercase
}
.capitalize { 
    text-transform: capitalize
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    color: #333333;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { 
    color: inherit; 
}
h1 {
    font-size: 36px;
    font-weight: 500;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
ul {
    margin: 0px;
    padding: 0px;
}
p {
    margin-bottom: 15px;
}
hr{
    margin: 60px 0;
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}
label {
    font-size: 15px;
    font-weight: 400;
    color: #333;
}
*::-moz-selection {
    background: #3399FF;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #3399FF;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #3399FF;
    color: #fff;
    text-shadow: none;
}
.mark, mark {
    background: #ff6a00 none repeat scroll 0 0;
    color: #ffffff;
}
.fix {
    overflow: hidden
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*************************
        Input
*************************/
input {
	background: transparent;
	border: 2px solid #ff6a00;
	height: 56px;
	box-shadow: none;
	padding-left: 10px;
	font-size: 14px;
	color: #a4a4a4;
	width: 100%;
	box-shadow: none;
	border-radius: 0;
}
select {
    width: 100%;
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #333;
}
option {
    background: #fff;
    border: 0px solid #333;
    padding-left: 10px;
    font-size: 14px;
}
input:focus {
    background: transparent;
    border: 2px solid #ff6a00;
}
textarea {
    resize: vertical;
    background: #eceff8;
    border: 2px solid #eceff8;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}
textarea:focus {
    background: transparent;
    border: 2px solid #ff6a00;
    outline: none;
}
::-moz-placeholder {
    color: #444;
    font-size: 13px;
}
/*************************
        scroll to top
*************************/
#scrollUp {
	background: #333;
	width: 40px;
	height: 40px;
	line-height: 40px;
	bottom: 25px;
	right: 25px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#scrollUp:hover{
    background: #ff6a00;
}

/*************************
  Basic margin padding
*************************/
.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
         Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-40 { margin-top: 40px }
.mt-45 { margin-top: 45px }
.mt-50 { margin-top: 50px }
.mt-55 { margin-top: 55px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-75 { margin-top: 75px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-150 { margin-top: 150px }
/*************************
        Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-35 { padding-top: 35px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-60 { padding-top: 60px }
.pt-65 { padding-top: 65px }
.pt-70 { padding-top: 70px }
.pt-80 { padding-top: 80px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
.pt-120 { padding-top: 120px }
.pt-130 { padding-top: 130px }
.pt-140 { padding-top: 140px }
.pt-150 { padding-top: 150px }

/***************************
    Page section padding 
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }

/***************************
    Page section margin 
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }

/*-------------------
Common Style CSS
-------------------*/
/*-------------------------------
    14. Single Product Page CSS
--------------------------------*/
.single-product-img {
	position: relative;
}
.single-product-img:before {
	position: absolute;
	content: "";
	width: 100%;
	background: #000;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: 1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.single-product-img:hover:before{
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.single-product-img a {
	position: absolute;
	font-size: 100px;
	color: #ddd;
	z-index: 9;
	line-height: 1;
	top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
	right: 0;
	left: 0;
	text-align: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}
.single-product-img:hover a{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.vbox-close {
	background: #BBCCDD url("close.gif") no-repeat scroll 10px center !important;
	color: #fff !important;
	cursor: pointer;
	display: block;
	font-weight: 600;
	height: 40px;
	position: fixed;
	right: 40px;
	text-indent: 2px;
	top: 14px;
	width: 46px;
	border-radius: 2px;
}
.nav.single-slide-menu a {
    display: block;
    border: 1px solid #ededed;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav.single-slide-menu a img {
	width: 100%;
    border: 3px solid transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav.single-slide-menu a.active img,
.nav.single-slide-menu a:hover img{
    border-color: #dbdbdb;
}
.single-product-menu {
	margin: 15px 0;
}
.nav.single-slide-menu {
	padding: 0 26px;
}
.single-tab-menu {
	padding: 0 10px;
}
.single-slide-menu .slick-list {
    width: 100%;
}
.slick-arrow {
	position: absolute;
	top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
	left: 0;
	width: 28px;
	height: 18px;
	background: #fff;
	color: #333;
	border: 1px solid #e5e5e5;
    border-radius: 3px;
	line-height: 26px;
	font-size: 14px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	text-align: center;
    z-index: 99;
}
.slick-arrow:after {
	height: 3px;
	background: #e96405;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slick-next-btn.slick-arrow {
	left: auto;
	right: 0;
}
.slick-arrow:hover:after{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.slick-arrow:hover{
    background: #ff6a00;
    color: #fff;
    border-color: #ff6a00;
}
.single-product-name {
	font-size: 22px;
	text-transform: capitalize;
	font-weight: 500;
	color: #444;
	line-height: 24px;
	margin-bottom: 15px;
}
.single-product-reviews {
	margin-bottom: 10px;
}
.single-product-price {
	margin-top: 65px;
}
.product-discount {
	display: inline-block;
	margin-bottom: 20px;
}
.product-discount span.price {
	font-size: 28px;
	font-weight: 500;
	line-height: 30px;
	display: inline-block;
	color: #008bff;
}
.discount {
	text-transform: uppercase;
	display: inline-block;
	background: #f25961;
	color: #fff;
	font-size: 12px;
	padding: 0 15px;
	text-align: center;
	z-index: 1;
	line-height: 30px;
	border-radius: 20px;
	font-weight: 500;
	height: 30px;
	margin-left: 10px;
	vertical-align: top;
}
.product-info {
	color: #333;
	font-size: 14px;
	font-weight: 400;
}
.product-info p {
	line-height: 30px;
	font-size: 14px;
	color: #333;
	margin-top: 30px;
}
.single-product-action {
	margin-top: 30px;
	padding-bottom: 30px;

	float: left;
	width: 100%;
}
.product-variants {
	border-bottom: 1px solid #ebebeb;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.product-variants > .product-variants-item {
	margin: 20px 0;
	display: block;
}
.product-variants > .product-variants-item:last-child {
	margin-left: 10px;
}
.product-variants-item span.control-label {
	margin-bottom: 6px;
	display: block;
	width: 100%;
	text-transform: capitalize;
	font-size: 14px;
	color: #232323;
}
.product-variants > .product-variants-item select {
	border: 1px solid #ebebeb;
	height: 40px;
    background: #fff;
}
.product-variants-item .nice-select {
	width: 150px;
}
.product-variants-item .nice-select.open .list {
	width: 100%;
}
.procuct-color > li {
	display: inline-block;
	list-style: none;
	margin-left: 5px;
}
.procuct-color > li > a > span.color {
	background: #ffa07a;
	height: 13px;
	width: 13px;
	display: inline-block;
	margin-right: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.procuct-color > li:nth-child(2) > a > span.color{
    background: #00EEB3;
}
.procuct-color > li.active > a > span.color,.procuct-color > li > a:hover > span.color{
    outline: 1px solid #D6B98C;
    outline-offset: 1px;
}
.product-add-to-cart span.control-label {
	display: block;
	margin-bottom: 10px;
	text-transform: capitalize;
	color: #232323;
	font-size: 14px;
}
.add-to-cart {
	background: #008bff;
	border: 0;
	border-bottom: 3px solid #0680e5;
	color: #fff;
	box-shadow: none;
	padding: 0 30px;
	border-radius: 3px;
	font-weight: 400;
    cursor: pointer;
	font-size: 14px;
	text-transform: capitalize;
	height: 50px;
	line-height: 50px;
}
.add-to-cart:hover {
	background: #ff6a00;
	border-color: #e96405;
}
.add-to-cart i {
	font-size: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.product-availability {
	color: #30b878;
	font-weight: 700;
	font-size: 14px;
	text-transform: capitalize;
	margin-left: 10px;
}
.block-reassurance {
	overflow: hidden;
	float: left;
	width: 100%;
    background: #fff;
	box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}
.block-reassurance > ul > li {
	list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.block-reassurance-item {
	padding: 15px 20px;
}
.block-reassurance-item > img {
	width: 25px;
	margin-right: 10px;
}
.block-reassurance-item span {
	font-size: 14px;
	font-weight: 700;
	text-transform: capitalize;
}
.modal-footer {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	border: 1px solid rgba(172,170,166,.3);
}
.single-product-share {
	overflow: hidden;
	float: left;
	width: 100%;
	border-top: 1px solid #ececec;
	padding-top: 30px;
}
.single-product-share > ul > li {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
	color: #232323;
	font-size: 14px;
}
.single-product-share > ul > li > a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	text-align: center;
	color: #b4b4b4;
	font-size: 21px;
}
.single-product-share > ul > li > a:hover{
    background: #ff6a00;
    color: #fff;
}
/*porduct quantity*/
.product-add-to-cart {
	overflow: hidden;
	margin-top: 20px;
	float: left;
	width: 100%;
}
.cart-plus-minus-box {
	border: 1px solid #e1e1e1;
	border-radius: 0;
	color: #3c3c3c;
	height: 49px;
	text-align: center;
	width: 50px;
	padding: 5px 10px;
}
.product-add-to-cart .cart-plus-minus {
	margin-right: 25px;
}
.cart-plus-minus {
	position: relative;
	width: 75px;
	float: left;
	padding-right: 25px;
}
.dec.qtybutton, .inc.qtybutton {
	background: #f1f1f1 none repeat scroll 0 0;
	cursor: pointer;
	line-height: 15px;
	position: absolute;
	text-align: center;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: none;
	border: 1px solid #ddd;
}
.dec.qtybutton {
	bottom: 0;
    right: 0;
}
.inc.qtybutton {
	top: 0;
	right: 0;
}
/*Single product area*/
.dec-and-review-menu {
	padding: 20px 0;
	text-align: center;
	background: #A5FFD6;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.dec-and-review-menu > li > a {
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 40px;
	color: #333333;
}
.dec-and-review-menu > li > a.active,
.dec-and-review-menu > li > a:hover{
    color: #ff6a00;
}
.single-product-description > p {
	font-size: 14px;
	color: #333;
	line-height: 30px;
	letter-spacing: 0.4px;
}
.product-manufacturer {
	margin-bottom: 15px;
}
.product-reference .label,
.product-quantities .label{
	font-size: 16px;
	color: #414141;
	font-weight: 700;
}
.product-features {
	margin-top: 20px;
	margin-left: 5px;
}
.product-features > h3 {
	font-size: 16px;
	font-weight: 700;
}
.product-features .table tr {
	background: #ebebeb;
}
.product-features .table tr:nth-child(even) td{
    background: #f9f9f9;
}
.product-features .table td {
	width: 50%;
	background: #ebebeb;
	height: 40px;
	padding: 10px;
	margin-right: 10px;
	border: 0;
	border-right: 1px solid #ddd;
}
.product-features .table td:last-child{
    border-right: 0;;
}
.review-comment > h2 {
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 15px;
}
.pro-comments-rating {
	padding-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
}
.pro-comments-rating > li {
	list-style: none;
	display: flex;
	    flex-wrap: wrap;
	        justify-content: space-between;
}
.review-form label {
	font-size: 14px;
	font-weight: 700;
	margin: 12px 0 4px 0;
	color: #414141;
	text-transform: capitalize;
}
.review-form input {
	border: 1px solid #ebebeb;
	background: #fff;
	border-radius: 0;
	height: 40px;
	color: #252525;
}
.review-form textarea {
	background: #fff;
	border: 1px solid #ebebeb;
}
.send-your-review {
	margin-top: 20px;
}
.required-fields {
	font-weight: 600;
	color: #414141;
	text-transform: capitalize;
}
.review-form sup {
	font-size: 20px;
	top: 0;
}
.send-btn,
.cancel-btn{
	border: 0;
	background: #333;
	box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
	color: #fff;
	padding: 8px 20px;
	font-weight: 600;
	cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 0 5px;
}
.send-btn:hover{
    background: #ff6a00;
}
.cancel-btn:hover{
    background: #f80e0e;
}
/*icon*/
.fab
{
	font-size: 	20px;
	margin-right: 	15px;
	margin-top: 10px;
	margin-left: 10px;
}

/*COUNT*/
.qty {
  width: 55px;
  height: 32px;
  text-align: center;
  border: 1px solid #aaa;
  margin-right: -8px;
  margin-left: -8px;
  z-index: 999;
}


input.qtyplus {
  width: 32px;
  height: 32px;
  margin-right: -35px;
  border: 1px solid #aaa;
  border-left: none;
}

input.qtyminus {
  width: 32px;
  height: 32px;
  border: 1px solid #aaa;
border-right: none;
}
.product_comment
{
	background-color: #FFA69E;
	height: 120px;
}
.comment_str
{
	margin-top: 15px;
	margin-left:15px;
}
.level_txt
{
	font-size: 35px;
}
.comment_btn
{
	margin:45px 0px 0px 10px;
	background-color: #FFF;
	width: 100px;
	border:1px solid #FFF;
	border-radius: 15px;
}
.comment_btn:focus
{
	border:1px solid #FF8C00;
}

.tabcontent {
  margin-top: 40px;
  margin-bottom: 20px;
  display: none;
  padding: 6px 12px;
}
.cont2
{
	padding:5px;
}