/*-- Cart Table --*/
body{
    
}
.car
{
  width:70%;
  margin:10px 15%;
}
.cart-table .table {
  border-bottom: 8px solid #f6f6f6;
  margin: 0;
}

@media only screen and (max-width: 575px) {
  .cart-table .table {
    border-top: 8px solid #f6f6f6;
  }
}

.cart-table .table thead {
  background-color: #f6f6f6;
}

@media only screen and (max-width: 575px) {
  .cart-table .table thead {
    display: none;
  }
}

.cart-table .table thead tr th {
  text-align: center;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #292323;
  padding: 12px 20px;
}

.cart-table .table tbody tr td {
  text-align: center;
  border: none;
  padding: 25px 20px;
  vertical-align: middle;
  border-bottom: 1px solid #dddddd;
}

@media only screen and (max-width: 575px) {
  .cart-table .table tbody tr td {
    display: block;
    width: 100%;
    max-width: none;
    padding: 15px;
    text-align: left;
  }
}

.cart-table th.pro-thumbnail,
.cart-table td.pro-thumbnail {
  max-width: 160px;
  min-width: 120px;
  width: 160px;
}

@media only screen and (max-width: 575px) {
  .cart-table th.pro-thumbnail a,
  .cart-table td.pro-thumbnail a {
    width: 160px;
  }
}

.cart-table th.pro-title,
.cart-table td.pro-title {
  min-width: 200px;
}

.cart-table td.pro-thumbnail a {
  display: block;
}

.cart-table td.pro-thumbnail a img {
  width: 100%;
  background-color: #f6f7f8;
}

.cart-table td.pro-title a {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.cart-table td.pro-price span {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.cart-table td.pro-quantity .pro-qty {
  width: 90px;
  height: 35px;
  border: 1px solid #999999;
  border-radius: 50px;
  padding: 0 15px;
  display: block;
  margin: auto;
}

.cart-table td.pro-quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 31px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}

.cart-table td.pro-quantity .pro-qty input, .cart-table td.pro-quantity .pro-qty .contact__form--1 textarea, .contact__form--1 .cart-table td.pro-quantity .pro-qty textarea {
  width: 28px;
  float: left;
  border: none;
  height: 33px;
  line-height: 33px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

@media only screen and (max-width: 575px) {
  .cart-table td.pro-quantity .pro-qty {
    margin: 0;
  }
}

.cart-table td.pro-subtotal span {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

.cart-table td.pro-addtocart button {
  width: 140px;
  border-radius: 50px;
  height: 36px;
  border: 1px solid #ff5151;
  line-height: 24px;
  padding: 5px 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  background-color: #ff5151;
}

.cart-table td.pro-remove a {
  display: block;
  font-weight: 600;
  color: #000000;
}

.cart-table td.pro-remove a i {
  font-size: 15px;
}

.cart-table td.pro-remove a:hover {
  color: #ff0000;
}

@media only screen and (max-width: 575px) {
  .cart-table td.pro-remove a {
    width: 60px;
    text-align: center;
  }
}
.tot
{
 font-size: 25px;
 font-weight: bold;
 color: red;
}
.tot_sum
{
  margin-top: 50px;
}
.tot_price
{
  font-size: 25px;
 font-weight: bold;
 color: red;
}
.car_btn
{
  background-color: #BBCCDD;
  border-radius: 5px;
  display: inline;
  width: 120px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.cart-style{
    border-radius:20px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
